# i3 config file (v4)
#
# Please see https://i3wm.org/docs/userguide.html for a complete reference!

set $mod Mod4

# Font for window titles. Will also be used by the bar unless a different font
# is used in the bar {} block below.
font pango:monospace 8

# App on start
exec feh --bg-scale {{ ansible_env.HOME }}/.config/data/assets/{{ wallpaper }}

# Define compose key
# Cf. https://adamsimpson.net/writing/compose-key-and-i3
exec --no-startup-id "xmodmap ~/.Xmodmap"

# Authentication agent
exec --no-startup-id /usr/lib/policykit-1-gnome/polkit-gnome-authentication-agent-1 &

# Start network manager applet
exec_always nm-applet

# Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod

# start a terminal
{% if install_rust == true and use_alacritty == true %}
bindsym $mod+Return exec {{ ansible_env.HOME }}/.cargo/bin/alacritty
{% else %}
bindsym $mod+Return exec i3-sensible-terminal
{% endif %}

# kill focused window
bindsym $mod+Shift+A kill

# start dmenu (a program launcher)
bindsym $mod+d exec dmenu_run

# start rofi run (program launcher)
bindsym $mod+x exec rofi -show run

# start rofi window (window switcher)
bindsym $mod+Tab exec rofi -show window

# change focus
# bindsym $mod+h focus left
# bindsym $mod+j focus down
# bindsym $mod+k focus up
# bindsym $mod+l focus right

# alternatively, you can use the cursor keys:
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

# move focused window
# bindsym $mod+Shift+h move left
# bindsym $mod+Shift+j move down
# bindsym $mod+Shift+k move up
# bindsym $mod+Shift+l move right

# alternatively, you can use the cursor keys:
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

# split in horizontal orientation
bindsym $mod+h split h

# split in vertical orientation
bindsym $mod+v split v

# enter fullscreen mode for the focused container
bindsym $mod+f fullscreen toggle

# change container layout (stacked, tabbed, toggle split)
bindsym $mod+s layout stacking
bindsym $mod+z layout tabbed
bindsym $mod+e layout toggle split

# toggle tiling / floating
bindsym $mod+Shift+space floating toggle

# change focus between tiling / floating windows
bindsym $mod+space focus mode_toggle

# focus the parent container
bindsym $mod+q focus parent

# focus the child container
bindsym $mod+w focus child

# switch to workspace
bindsym $mod+1 workspace 1
bindsym $mod+2 workspace 2
bindsym $mod+3 workspace 3
bindsym $mod+4 workspace 4
bindsym $mod+5 workspace 5
bindsym $mod+6 workspace 6
bindsym $mod+7 workspace 7
bindsym $mod+8 workspace 8
bindsym $mod+9 workspace 9
bindsym $mod+0 workspace 10

# move focused container to workspace
bindsym $mod+Shift+exclam move container to workspace 1
bindsym $mod+Shift+at move container to workspace 2
bindsym $mod+Shift+numbersign move container to workspace 3
bindsym $mod+Shift+dollar move container to workspace 4
bindsym $mod+Shift+percent move container to workspace 5
bindsym $mod+Shift+asciicircum move container to workspace 6
bindsym $mod+Shift+ampersand move container to workspace 7
bindsym $mod+Shift+asterisk move container to workspace 8
bindsym $mod+Shift+parenleft move container to workspace 9
bindsym $mod+Shift+parenright move container to workspace 10

# reload the configuration file
bindsym $mod+Shift+c reload
# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Shift+r restart
# exit i3 (logs you out of your X session)
bindsym $mod+Shift+e exec "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -b 'Yes, exit i3' 'i3-msg exit'"
# find cursor
bindsym $mod+c exec {{ ansible_env.HOME }}/bin/find-cursor -c '#ffffff' -s 500 -f -l 10 -r 1 -g -o

# resize window (you can also use the mouse for that)
mode "resize" {
        # These bindings trigger as soon as you enter the resize mode

        # Pressing left will shrink the window’s width.
        # Pressing right will grow the window’s width.
        # Pressing up will shrink the window’s height.
        # Pressing down will grow the window’s height.
        bindsym j resize shrink width 10 px or 10 ppt
        bindsym k resize grow height 10 px or 10 ppt
        bindsym l resize shrink height 10 px or 10 ppt
        bindsym m resize grow width 10 px or 10 ppt

        # same bindings, but for the arrow keys
        bindsym Left resize shrink width 10 px or 10 ppt
        bindsym Down resize grow height 10 px or 10 ppt
        bindsym Up resize shrink height 10 px or 10 ppt
        bindsym Right resize grow width 10 px or 10 ppt

        # back to normal: Enter or Escape
        bindsym Return mode "default"
        bindsym Escape mode "default"
}

bindsym $mod+r mode "resize"

# Start i3bar to display a workspace bar (plus the system information i3status
# finds out, if available)
bar {
  font pango:monospace 9
	position top
  tray_output primary
  # status_command i3status
  # status_command i3blocks
  # status_command SCRIPT_DIR={{ ansible_env.HOME }}/.config/data/i3blocks i3blocks -c {{ ansible_env.HOME }}/.config/i3/i3blocks.conf
  status_command /home/glejeune/.local/bin/bumblebee-status \
    -m screen_brightness pulseout pulsein cpu memory nic network_traffic ping battery bluetooth date time spacer  \
		-p time.format="%H:%M" date.format="%Y/%m/%d" nic.states="^down" nic.format="{ssid} {strength} {ip}" \
    -t iceberg-contrast
		# -t solarized-powerline
}

bindsym XF86AudioLowerVolume exec --no-startup-id pactl -- set-sink-volume @DEFAULT_SINK@ -5% && (mpv /home/glejeune/.config/data/assets/plop.mp3 || true)
bindsym XF86AudioRaiseVolume exec --no-startup-id pactl -- set-sink-volume @DEFAULT_SINK@ +5% && (mpv /home/glejeune/.config/data/assets/plop.mp3 || true)
bindsym XF86AudioMute exec --no-startup-id pactl -- set-sink-mute @DEFAULT_SINK@ toggle && (mpv /home/glejeune/.config/data/assets/plop.mp3 || true)

bindsym $mod+XF86AudioLowerVolume exec --no-startup-id pactl -- set-sink-volume @DEFAULT_SOURCE@ -5% && (mpv /home/glejeune/.config/data/assets/plop.mp3 || true)
bindsym $mod+XF86AudioRaiseVolume exec --no-startup-id pactl -- set-sink-volume @DEFAULT_SOURCE@ +5% && (mpv /home/glejeune/.config/data/assets/plop.mp3 || true)
bindsym $mod+XF86AudioMute exec --no-startup-id pactl -- set-sink-mute @DEFAULT_SOURCE@ toggle && (mpv /home/glejeune/.config/data/assets/plop.mp3 || true)

# bindsym XF86AudioLowerVolume exec --no-startup-id pactl -- set-sink-volume `pactl list sinks short | grep $(pacmd stat | grep "^Default sink name" | cut -d: -f2 | sed -e 's/^ *//' -e 's/ *$//g') | cut -f 1` -5% && (mpv {{ ansible_env.HOME }}/.config/data/assets/plop.mp3 || true) && pkill -RTMIN+2 i3blocks
# bindsym XF86AudioRaiseVolume exec --no-startup-id pactl -- set-sink-volume `pactl list sinks short | grep $(pacmd stat | grep "^Default sink name" | cut -d: -f2 | sed -e 's/^ *//' -e 's/ *$//g') | cut -f 1` +5% && (mpv {{ ansible_env.HOME }}/.config/data/assets/plop.mp3 || true) && pkill -RTMIN+2 i3blocks
# bindsym XF86AudioMute exec --no-startup-id pactl -- set-sink-mute `pactl list sinks short | grep $(pacmd stat | grep "^Default sink name" | cut -d: -f2 | sed -e 's/^ *//' -e 's/ *$//g') | cut -f 1` toggle && (mpv {{ ansible_env.HOME }}/.config/data/assets/plop.mp3 || true) && pkill -RTMIN+2 i3blocks
# bindsym $mod+XF86AudioLowerVolume exec --no-startup-id pactl -- set-source-volume `pactl list sources short | grep $(pacmd stat | grep "^Default source name" | cut -d: -f2 | sed -e 's/^ *//' -e 's/ *$//g') | cut -f 1` -5% && (mpv {{ ansible_env.HOME }}/.config/data/assets/pop.mp3 || true) && pkill -RTMIN+4 i3blocks
# bindsym $mod+XF86AudioRaiseVolume exec --no-startup-id pactl -- set-source-volume `pactl list sources short | grep $(pacmd stat | grep "^Default source name" | cut -d: -f2 | sed -e 's/^ *//' -e 's/ *$//g') | cut -f 1` +5% && (mpv {{ ansible_env.HOME }}/.config/data/assets/pop.mp3 || true) && pkill -RTMIN+4 i3blocks
# bindsym $mod+XF86AudioMute exec --no-startup-id pactl -- set-source-mute `pactl list sources short | grep $(pacmd stat | grep "^Default source name" | cut -d: -f2 | sed -e 's/^ *//' -e 's/ *$//g') | cut -f 1` toggle && (mpv {{ ansible_env.HOME }}/.config/data/assets/pop.mp3 || true) && pkill -RTMIN+4 i3blocks

# bindsym XF86AudioLowerVolume exec --no-startup-id pactl -- set-sink-volume `pactl list short sinks | cut -f 1` -5% && (mpv {{ ansible_env.HOME }}/.config/data/assets/plop.mp3 || true) && pkill -RTMIN+2 i3blocks
# bindsym XF86AudioRaiseVolume exec --no-startup-id pactl -- set-sink-volume `pactl list short sinks | cut -f 1` +5% && (mpv {{ ansible_env.HOME }}/.config/data/assets/plop.mp3 || true) && pkill -RTMIN+2 i3blocks
# bindsym XF86AudioMute exec --no-startup-id pactl -- set-sink-mute `pactl list short sinks | cut -f 1` toggle && (mpv {{ ansible_env.HOME }}/.config/data/assets/plop.mp3 || true) && pkill -RTMIN+2 i3blocks
# bindsym XF86AudioLowerVolume exec --no-startup-id amixer -q sset Master 5%- && (mpv {{ ansible_env.HOME }}/.config/data/assets/plop.mp3 || true) && pkill -RTMIN+2 i3blocks
# bindsym XF86AudioRaiseVolume exec --no-startup-id amixer -q sset Master 5%+ && (mpv {{ ansible_env.HOME }}/.config/data/assets/plop.mp3 || true) && pkill -RTMIN+2 i3blocks
# bindsym XF86AudioMute exec --no-startup-id amixer -q sset Master toggle && (mpv {{ ansible_env.HOME }}/.config/data/assets/plop.mp3 || true) && pkill -RTMIN+2 i3blocks

bindsym XF86MonBrightnessDown exec --no-startup-id {{ ansible_env.HOME }}/bin/brightness_control.sh -0.1 && pkill -RTMIN+3 i3blocks
bindsym XF86MonBrightnessUp exec --no-startup-id {{ ansible_env.HOME }}/bin/brightness_control.sh +0.1 && pkill -RTMIN+3 i3blocks

bindsym $mod+Shift+l exec --no-startup-id {{ ansible_env.HOME }}/bin/lock.sh

# Screen Shots
bindsym Print exec scrot '%Y-%m-%d-%s_screenshot_$wx$h.jpg' -e 'mv $f {{ ansible_env.HOME }}/Pictures/'
bindsym Control+Print exec gnome-screenshot -i

# xrandr
# bindsym $mod+m exec --no-startup-id {{ ansible_env.HOME }}/bin/autoxrandr.sh --start --type BT --align R
# bindsym $mod+Shift+m exec --no-startup-id {{ ansible_env.HOME }}/bin/autoxrandr.sh --stop
bindsym $mod+m exec --no-startup-id {{ ansible_env.HOME }}/bin/wifixrandr.sh --start
bindsym $mod+Shift+m exec --no-startup-id {{ ansible_env.HOME }}/bin/wifixrandr.sh --stop
