PATH="{{ ansible_env.HOME }}/.perl5/bin${PATH:+:${PATH}}"; export PATH;
PERL5LIB="{{ ansible_env.HOME }}/.perl5/lib/perl5${PERL5LIB:+:${PERL5LIB}}"; export PERL5LIB;
PERL_LOCAL_LIB_ROOT="{{ ansible_env.HOME }}/.perl5${PERL_LOCAL_LIB_ROOT:+:${PERL_LOCAL_LIB_ROOT}}"; export PERL_LOCAL_LIB_ROOT;
PERL_MB_OPT="--install_base \"{{ ansible_env.HOME }}/.perl5\""; export PERL_MB_OPT;
PERL_MM_OPT="INSTALL_BASE={{ ansible_env.HOME }}/.perl5"; export PERL_MM_OPT;
