[user]
  name = {{ git_username }}
  email = {{ git_email }}
  {% if git_signingkey and git_signingkey_value %}signingkey = {{ git_signingkey_value }}{% endif %}

[diff]
  external = difft
  tool = difftastic

[difftool]
  prompt = false

[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"

[pager]
  difftool = true

[merge]
  tool = meld # splice # meld

[mergetool "splice"]
  cmd = "vim -f $BASE $LOCAL $REMOTE $MERGED -c 'SpliceInit'"
  trustExitCode = true

[pull]
  rebase = true

[interactive]
  diffFilter = delta --color-only
