# escape ket
escape C-space

# Style baby
set border 0
set barpadding 0 0 0 0
set padding 0 0 0 0
# set fgcolor yellow
# set bgcolor red
set fgcolor #FF9000
set bgcolor #000000
# set font -xos4-terminus-medium-r-normal-*-*-140-*-*-c-*-iso8859-1
set font -*-fixed-*-*-*-*-20-*-*-*-*-*-*-*
exec feh --bg-scale {{ ansible_env.HOME }}/.config/data/assets/{{ wallpaper }}

definekey top M-Tab next

# FF
bind f exec firefox
bind C-f exec firefox

# Lock screen
bind l exec {{ ansible_env.HOME }}/bin/lock.sh
bind C-l exec {{ ansible_env.HOME }}/bin/lock.sh

# Sound volume
alias volume_up exec $(pactl -- set-sink-volume `pactl list short sinks | cut -f 1` +5% && play ~/.config/data/assets/plop.mp3 || true)
alias volume_down exec $(pactl -- set-sink-volume `pactl list short sinks | cut -f 1` -5% && play ~/.config/data/assets/plop.mp3 || true)
alias volume_mute exec $(pactl -- set-sink-mute `pactl list short sinks | cut -f 1` toggle && play ~/.config/data/assets/plop.mp3 || true)
definekey top XF86AudioLowerVolume volume_down
definekey top XF86AudioRaiseVolume volume_up
definekey top XF86AudioMute volume_mute

# For Java swing applications
exec wmname LG3D

# App menu
alias dmenu exec $(dmenu_path | dmenu -fn fixed -nb black -nf orange -sb orange -sf black || true)
bind x dmenu
bind C-x dmenu

# Utils
bind d exec ratpoison -d :0.0 -c "echo `ccal`"
bind t exec ratpoison -d :0.0 -c "echo $(date +'%a %b %d %I:%M%p')"
bind b exec ratpoison -d :0.0 -c "echo $({{ ansible_env.HOME }}/bin/battery-level.sh)"

# Workspaces
exec rpws init 2 -a
definekey top C-M-1 rpws1
definekey top C-M-2 rpws2
definekey top C-M-Left rpwsp
definekey top C-M-Right rpwsn

# Store/Restore
bind equal exec ratpoison -c "setenv fs1 `ratpoison -c 'fdump'`"
bind grave exec ratpoison -c "frestore `ratpoison -c 'getenv fs1'`"
