* {
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
}

window#waybar {
  background-color: rgba(43, 48, 59, 0.5);
  border-bottom: 3px solid rgba(100, 114, 125, 0.5);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
}

button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #ffffff;
}

#workspaces button.focused {
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#window,
#workspaces {
  margin: 0 4px;
  margin-left: 0;
}

#mode {
  box-shadow: inset 0 -3px #ffffff;
}

#mode,
#scratchpad,
#custom-media,
#idle_inhibitor,
#pulseaudio,
#network,
#power-profiles-daemon,
#cpu,
#memory,
#temperature,
#keyboard-state,
#language,
#battery,
#clock,
#tray,
#custom-power {
  padding: 0 10px;
  margin: 0 1px;
  color: #ffffff;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  color: #ff0000;
  box-shadow: inset 0 -3px #ff0000;
}

#battery.charging, #battery.plugged {
  box-shadow: inset 0 -3px #ffff66;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.good:not(.charging) {
  color: #00cc00;
  box-shadow: inset 0 -3px #00cc00;
}

#battery.warning:not(.charging) {
  color: #ff9933;
  box-shadow: inset 0 -3px #ff9933;
}

#language {
  min-width: 20px;
}

#temperature.critical,
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
